name: Golangci-Lint

on:
  push:
    branches:
      - "master"
      - "main"
    paths-ignore:
      - "**.md"
      - LICENSE
      - ".github/ISSUE_TEMPLATE/*.yml"
      - ".github/dependabot.yml"
  pull_request:
    branches:
      - "*"
    paths-ignore:
      - "**.md"
      - LICENSE
      - ".github/ISSUE_TEMPLATE/*.yml"
      - ".github/dependabot.yml"
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: read
  checks: write

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          # NOTE: Keep this in sync with the version from go.mod
          go-version: '1.25.x'
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        env:
          GOLANGCI_LINT_SKIP_GOVERSION_CHECK: "1"
        with:
          # NOTE: Keep this in sync with the version from .golangci.yml
          version: 'v2.6.1'
