on:
    push:
        branches:
            - master
            - main
        paths:
            - 'amber/**'
    pull_request:
        branches:
            - '*'
        paths:
            - 'amber/**'
    workflow_dispatch:
name: Tests Amber
jobs:
    Tests:
        strategy:
            matrix:
                go-version:
                    - 1.25.x
                platform: [ ubuntu-latest, windows-latest ]
        runs-on: ${{ matrix.platform }}
        steps:
            -   name: Fetch Repository
                uses: actions/checkout@v5
            -   name: Install Go
                uses: actions/setup-go@v6
                with:
                    go-version: '${{ matrix.go-version }}'
            -   name: Run Test
                run: cd ./amber && go test ./... -race -v
